{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <h1 class="mt-5">Add Recipe</h1>
    <div class="row">
        {% if user.is_authenticated %}
        <form method="post" class="add-recipe">
            <div class="col">
                <div class="card">
                    {{ form | crispy }}
                    {% csrf_token %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {% endif %}
    </div>
</div>

{%endblock%}