{% extends "base.html" %}
{% block title %}Dishful Discoveries| All Recipes{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">Recipes</h1>
        </div>
    </div>
    <div class="row card-deck">
        {% for recipe in recipe_list %}
        <div class="col-sm-3 px-1 d-flex align-items-stretch">
            <div class="card card-detail mb-3 shadow-sm">
                {% if "placeholder" in recipe.image.url %}
                <img src="https://res.cloudinary.com/kailangen/image/upload/v1690288515/placeholder.jpg"
                    class="card-img-top" alt="placeholder image">
                {% else %}
                <img src=" {{ recipe.image.url }}" alt="recipe image" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.excerpt }}</p>
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="stretched-link">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include "paginator.html" %}

{%endblock%}