{% extends "base.html" %}

{% block content %}

<section class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="row h-50 align-items-center">
            <div class="col">
                <h1 class="landing-title">Dishful Discoveries</h1>
            </div>
        </div>
        <div class="row h-50 align-items-center">
            <div class="col offset-md-1">
                <p class="landing-tagline">Exploring a new dish daily!</p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid features-outer">
    <div class="row">
        <div class="col-12">
            <h2 class="my-3">Join us today and get access the following features!</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <p class="my-3 text-center">Tired of the same food every day? Unsure what to cook again? Dishful Discoveries
                is the answer! Find new recipes to cook today!
            </p>
        </div>
    </div>
    <div class="container-fluid feature-image-outer">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <a href="#">
                        <img src="/static/images/light-bulb.png" alt="lightbulb">
                    </a>
                </div>
                <h3>Browse</h3>
                <p class="feature-text">Scroll through a picture book of delicous recipes until you find the next dish
                    for you!
                </p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <a href="#">
                        <img src="/static/images/light-bulb.png" alt="lightbulb">
                    </a>
                </div>
                <h3>Upload or Like</h3>
                <p class="feature-text">Upload and manage your own recipes or like the recipe of others and create your
                    own cookbook!</p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <a href="#">
                        <img src="/static/images/light-bulb.png" alt="lightbulb">
                    </a>
                </div>
                <h3>Grow</h3>
                <p class="feature-text">Grow with the community! Start conversations about potential improvements to
                    others recipes right below their recipe with the comments feature!</p>
            </div>
        </div>
    </div>
</section>

{%endblock%}