{% extends "base.html" %}

{% block content %}

<!-- hero section -->
<section>
    <div class="container px-2 py-3">
        <div class="row flex-md-row-reverse py-3">
            <div class="col-md-7 col-lg-5 p-0 pl-md-5 align-self-center">
                <img src="" class="img-fluid family-image" alt="family_dinner">
            </div>
            {% if user.is_authenticated %}
            <div class="col-md-5 col-lg-7 hero-text-outer text-center">
                <h1 class="mt-4 mb-2 hero-text">Welcome back to Dishful Discoveries</h1>
                <div class="lead mt-4">
                    Add a new recipe
                    <a class="btn btn-info rounded-pill btn-lg ml-2 mt-md-2 mt-lg-0"
                        href="{%  url 'add_recipe' %}">Create!</a>
                </div>
            </div>
            {% else %}
            <div class="col-md-5 col-lg-7 hero-text-outer text-center">
                <h1 class="mt-4 mb-2 hero-text">Embrace the adventure of trying out different dishes every day!</h1>
                <div class="lead mt-4">
                    Get started today
                    <a class="btn btn-info rounded-pill btn-lg ml-2 my-md-2 my-lg-0"
                        href="{%  url 'account_signup' %}">Sign Up!</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- features section -->

<section class="container-fluid features-outer">
    <div class="container w-75">
        <div class="row">
            <div class="col-12">
                <h2 class="my-3 pink-text">Tired of the same food every day? Unsure what to cook again?</h2>
            </div>
        </div>
        <hr class="home-break">
        <div class="row mb-5">
            <div class="col-12">
                <p class="my-3 text-center lead">Then Dishful Discoveries is the answer! Find new recipes to cook today!
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid feature-image-outer">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <i class="fas fa-hamburger fa-6x"></i>
                </div>
                <div>
                    <h3 class="feature-title">Browse</h3>
                    <p class="feature-text">Get inspiration from home cooks all over the world. Scroll through a picture
                        book of delicous recipes until you find the next dish
                        for you!</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <i class="fas fa-utensils fa-6x"></i>
                </div>
                <h3 class="feature-title">Upload or Like</h3>
                <p class="feature-text">Upload and manage your own recipes or like the recipe of others and create your
                    own cookbook!</p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <i class="fas fa-calendar-alt fa-6x"></i>
                </div>
                <h3 class="feature-title">Grow</h3>
                <p class="feature-text">Grow with the community! Start conversations about potential improvements to
                    others recipes right below their recipe with the comments feature!</p>
            </div>
        </div>
    </div>
</section>

{%endblock%}